<header class="masthead">
            {{!-- <div class="container px-5"> --}}
                <div class="row gx-5 hero align-items-center">
                     <!-- Jumbotron image-->
                    <div class="col-lg-6 jumbotron-image">
                        <div class="mb-5 mb-lg-0 text-center text-lg-start">
                            <div class="d-flex justify-content-center">
                                <img class="jumbotron" src="/images/jumbotron.png" alt="FLIPR image" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 jumbotron-text">
                        <h1 class="display-1 lh-1 mb-3">New-szn hits</h1>
                            <p class="lead fw-normal text-muted mb-5">Step up your style game with FLIPR. 
                                <br>Discover a curated collection of clothing, accessories, and lifestyle products designed for the fashion-conscious individual.</p>
                                <a class="btn btn-secondary btn-dark btn-lg shopbutton" data-toggle="button" aria-pressed="false" autocomplete="off"
                                role="button"
                                href="/join">
                                SHOP </a>
                    </div>
                </div>
            {{!-- </div> --}}
</header>