<div="container mx-auto mt-4">
    <div class="row" id="product-card">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5 account-card">
      <div class="card">
        <h5 class="card-header">Welcome Back, {{customer.name}}!</h5>
          <div class="card-body">
            <h5 class="card-title">Name: {{customer.name}}</h5>
            <h5 class="card-title">Email: {{customer.email}}</h5>
            <a href="#" class="btn btn-dark">EDIT</a>
          </div>
        </div>
    </div>
  </div>
</div>