<section class="my-account">
  <div class="account-info">
    <h2>Welcome Back, {{customer.name}}!</h2>
    <section class="account-detail">
    <p>Email: {{customer.email}}</p>
    <p></p>
    </section>
  </div>
</section>

