<section class="product-main">
    <div class="main-product-container">
            <img class="main-product-image" src="{{product.media}}">
    <div class="product-details">
        <div class="product-details-wrap">
            <h3>{{product.title}}</h3>
            <p>{{product.detail}}</p>
            <p>${{product.currency}}</p>
            <a href="/cart" class="btn btn-dark btn-sm px-5 cart-button" type="submit">Add to cart</a>
        </div>
    </div>
    <div class="shipping-details">
        <p>Shipping Details:</p>
        <p class="shipping-sub"><i class="fa-solid fa-truck-fast"></i> Free Express Shipping</p>
        <p class="shipping-sub"><i class="fa-solid fa-plane"></i> International Shipping</p>
        <p class="shipping-sub"><i class="fa-solid fa-backward"></i> Free Returns</p>
        <p class="shipping-sub"><i class="fa-solid fa-gift"></i> Gift Option Available</p>
    </div>
    </div>
</section>
