<section class="product-main">
    <div class="main-product-container">
        <div class="main-product-image">
            <img src="{{product.media}}">
        </div>

    <h1>{{product.title}}</h1>
    </div>
</section>
