<div="container mx-auto mt-4">
    <div class="row" id="product-card">
    {{#each products}}
    <div class="col-md-3 eachcard">
      <div class="card">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img src="{{this.media}}" class="img-fluid product-image"/>
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{this.title}}</h5>
          <p class="card-text">${{this.currency}}</p>
          <a href="/cart" class="btn btn-dark btn-sm px-5 cart-button" type="submit">Add to cart</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>