body {
  padding-top: 160px;
}

#product-card {
    width: 80%;
    margin: 50px auto;
    margin-top: 30px;
    padding: 20px;
    vertical-align: middle;
    display:grid;
  }

.product-image {
  width: 100%;
  height: 100%;
}