html {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}

body {
  position:relative;
  font-size: inherit;
  line-height: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111;
  background-color: #fff;
  align-items: center; 
}

.col-12 {
  padding: 0;
  margin: 0;
}

/* .container {
  vertical-align: middle;
  display: grid;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
} */

#index-navbar a {
  flex-grow: 11;
}

#navbarSupportedContent {
  text-align: center;
}

.navbar-brand {
  font-size: 36px;
  font-weight: bold;
  margin-left: 60px;
}

#index-link .nav-item {
  margin: 0;
  margin-right: 20px;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bolder;
}

/* .selected-nav-link {
  font-weight: bold;
} */

.navbar{
  border-bottom: #111 6px solid;
  box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.04);
  margin-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  z-index: 1;
  top: 0;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

/* .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;  
} */

.navbar-text {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.nav-item {
  list-style-type: none; 
  padding-right: 2em;
}

.fa-user {
  padding-left: 14px;
}

.fa-plus {
  padding-left: 8px;
}

.login {
  border-right: 1px solid #c4c4c4;
  display: inline-block;
  /* float: left; */
  padding: 0 15px;
}

.join {
  padding-left: 10px;
}

.container {
margin-top: 10px
}

.shopbutton {
  margin-top: -25px;
  text-align: center;
}

.footer { 
  z-index: inherit;
  margin: auto;
  position: relative;
  bottom:0;
  left:0;
  background-color: black;
  width: 100%;
} 

@media only screen and (max-width: 760px){
  .signbtn, .logbtn, .add-class-btn{
    padding: 5px 10px;
    font-size: 18px;
  }

  .footer {
    display: flex;
    padding: 20px;
    width: 100vw;
    height: 70vh;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 599px){
  .submit-form-div {
    width: 350px;
  }

  .signbtn, .logbtn, .add-class-btn{
    padding: 5px 10px;
    font-size: 18px;
  }

  .footer {
    padding: 20px;
    width: 100vw;
    height: 70vh;
    margin-bottom: 0;
    margin-top: 10px;
    position: static;
  }
}